@use './variables.scss' as var;

.Title h1{
    font-family: 'Paytone one', sans-serif;
    font-weight: bold;
    font-size: 5em;
    color: var.$DarkBrown;
    text-shadow: 1px 1px 2px rgb(110, 84, 45);
    margin: 4rem;
}

.Title{

}